#portfolio {
    display: grid;
    grid-template-columns: 9rem 9rem;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    padding: 0;
}

figure {
    margin: 0.5rem 0 0.5rem 0;
}

#portfolio img {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    object-position: top;
    border: white solid 0.063rem;
}

figcaption {
    width: 100%;
    text-align: center;
}

@media (min-width: 40.063em) {
    #portfolio {
        display: grid;
        grid-template-columns: 12rem 12rem 12rem;
    }

    #portfolio img {
        width: 12rem;
        height: 12rem;
    }
}