body {
    margin: 1rem 1rem 1rem 1rem;
    background: #303030;
    color: lightgrey;
    font-family: 'Raleway', sans-serif;
}

a {
    color: lightgrey;
}

a:hover {
    color: #b5b5b5;
}

nav {
    display: flex;
    gap: 0.5rem;
    font-size: 0.95rem;
}